<div class="container">
 
  <div class="left-panel">
    <div class="left-card-wrapper">
      <div class="login-card">
 
        <h2>Welcome Back</h2>
        <p>Sign in to your dashboard</p>
 
        <input type="text" [(ngModel)]="username" placeholder="Username">
        <input type="password" [(ngModel)]="password" placeholder="Password">
 
        <button (click)="login()">Login</button>
        
 
      </div>
    </div>
  </div>
 
 
  <div class="right-panel">
 
    <div class="grid"></div>
    <div class="orb orb1"></div>
    <div class="orb orb2"></div>
 
    <div class="hero-content">
      <h1>
        Welcome to <br>
        <span class="gradient">Log Intelligence</span>
      </h1>
 
      <p>
        Monitor logs, visualize charts, detect anomalies,
        and gain AI-powered insights – all in one place.
      </p>
    </div>
 
  </div>
 
</div>
 <div class="overlay" *ngIf="showPopup">
  <div class="popup" [ngClass]="isSuccess ? 'success' : 'error'">
    
    <div class="icon">
      <span *ngIf="isSuccess">✔</span>
      <span *ngIf="!isSuccess">✖</span>
    </div>
 
    <div class="message">
      {{ popupMessage }}
    </div>
 
    <button (click)="closePopup()">OK</button>
 
  </div>
</div>